*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $black01;
    cursor: pointer;
}

ul,
li {
    list-style: none;
}

input,
button {
    border: none;
    outline: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
}

button,
input[type="button"],
input[type="submit"] {
    background: none;
    padding: 0;
}