// COLORS
$white01: #ffffff;

$black01: #000000;
$black02: #222328;
$black03: #1c1e23;
$black04: #2d2e33;

$grey01: #f0f2f7;
$grey02: #f3f5f9;
$grey03: #b9bfd3;
$grey04: #e4e5e7;
$grey05: #e3e8f0;
$grey06: #a1a7bd;
$grey07: #f2f2f2;
$grey08: #b8bfd3;
$grey09: #f0f2f7;
$grey10: #5d5d5d;
$grey11: #e4e8f0;

$blue01: #343e5c;
$blue02: #b9bed1;
$blue03: #3e425a;
$blue04: #b5b8c9;
$blue05: #3a405b;
$blue06: #1c1e23;
$blue07: #dfe4ee;
$blue08: #2754eb;

$green01: #00e2aa;

// FONTS
$font-stack: 'Arial',
sans-serif;

// FONT-SIZE
$primary-font-size: 10px;

// FONT-WEIGHT
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$black: 900;

// SITE WIDTH
$site_width: 1170;