.best_sellers {
   @include site_width;

   background-color: $white01;
   margin-bottom: 50px;
   border-radius: 10px;
   overflow: hidden;

   &-title {
      text-align: center;
      border-bottom: 1px solid $grey01;
   }

   &-list {
      flex-wrap: nowrap;
   }

   &-item {
      @include percentage(270);
      border-radius: 0;
      margin-bottom: 0;

      &+& {
         border-left: 1px solid $grey01;
      }
   }

   &-prices {
      display: flex;
   }

   &-old_price {
      color: $grey08;
      text-decoration: line-through;
      margin-right: 15.625%;
   }
}